#main {
    background-color: #e6e6e6;
    width:100vw;
    min-height:100vh;
    margin:0 !important;
    font-family: 'Raleway', sans-serif;

    h1 {
        font-family: 'Indie Flower', cursive;
        padding-top: 20px;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
}